.doctor-login {
  background: radial-gradient(50% 50% at 50% 50%, rgb(0, 63, 92) 0%, rgb(1, 31, 45) 100%);
  background-color: rgba(255,255,255,1.0);
  border: 1px none;
  display: flex;
  min-height: 982px;
  min-width: 1512px;
  width: 100%;
}

